.footer {
  &__top {
    background: map-deep-get($footer, top, background);
    padding: 2rem 0 0;

    @include media ('>=desktop') {
      padding: 4rem 0 2rem;
    }
  }

  &__bottom {
    background: map-deep-get($footer, bottom, background);
    padding: 1.5rem 0;

    @include media ('>=desktop') {
      padding: 2.5rem 0;
    }
  }

  &__logo {
    text-align: center;

    @include media ('>=desktop') {
      text-align: left;
    }
  }

  .list {
    text-align: center;

    @include media ('>=desktop') {
      text-align: left;
    }


    > li {
      margin: 0 0 1rem;

      &:last-child {
        margin: 0;
      }

      > a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
