.swiper-promo {
  .swiper-slide {
    min-height: 37rem;
  }

  &__navigation {
    text-align: center;

    @include media ('>=desktop') {
      position: absolute;
      top: 2rem;
      left: 0;
      right: 0;
      z-index: 2;
      text-align: left;
    }
  }

  h2 {
    @include media ('>=desktop') {
      margin: 0;
    }
  }

  &__links {
    @extend %listreset;
    display: inline-flex;

    h2 + & {
      margin-left: 1.5rem;
    }

    > li {
      &.active {
        > a {
          @extend .btn--primary.active;
        }
      }

      &:first-child {
        > a {
          border-radius: 0.4rem 0 0 0.4rem;
        }
      }

      &:last-child {
        > a {
          border-radius: 0 0.4rem 0.4rem 0;
        }
      }

      > a {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
      }
    }
  }
}
