&__description {
  .swiper-lg &{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 2rem 1.5rem;

    @include media ('>=desktop') {
      padding: 3rem;
      box-shadow: 0 0 1rem -0.1rem rgba(map-get($colors, black), 0.5);
    }

    h3 {
      @include media ('>=desktop') {
        margin: 5rem 0;
        text-align: center;
      }
    }
  }
}
