&-pagination {
  .swiper-features & {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0.3rem;
    padding: 1rem;
    background: rgba(map-get($colors, white), 0.8);
  }

  .swiper-specifications & {
    padding: 1rem;
    background: rgba(map-get($colors, white), 0.8);
    bottom: 0;
    box-shadow: 0 0 1rem rgba(map-get($colors, black), 0.3);

    @include media ('>=desktop') {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-bullet {
    width: 1rem;
    height: 1rem;

    &-active,
    &:hover {
      background: map-get($colors, primary);
      opacity: 1;
    }
  }
}
