.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-xl-flex {
  @include media ('>=widescreen') {
    display: flex;
  }
}

.flex-xl-column {
  @include media ('>=widescreen') {
    flex-direction: column;
  }
}

.align-items-xl-center {
  @include media ('>=widescreen') {
    align-items: center;
  }
}

.align-items-xl-end {
  @include media ('>=widescreen') {
    align-items: flex-end;
  }
}

.justify-content-xl-center {
  @include media ('>=widescreen') {
    justify-content: center;
  }
}
