.detail-view {
  > tbody {
    > tr {
      > th,
      > td {
        font-size: 1.5rem;
        font-weight: 300;
        border-top: none;
      }

      > th {
        font-weight: 500;
      }
    }
  }

  tr {
    &:nth-child(odd) {
      td,
      th {
        background: map-get($detailView, oddBg);
      }
    }

    &:nth-child(even) {
      td,
      th {
        background: map-get($detailView, evenBg);
      }
    }
  }
}
