.btn {
  @include animate (background border-color);
  @include v-align;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: map-get($btn, fontWeight);
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  text-decoration: none;

  &--primary {
    background: map-deep-get($btn, primary, background);
    color: map-deep-get($btn, primary, color);
    border: 0.1rem solid map-deep-get($btn, primary, border);

    &.active,
    &:hover {
      background: map-deep-get($btn, primary, activeBg);
      border: 0.1rem solid map-deep-get($btn, primary, activeBorder);
    }
  }

  &--block {
    display: block;
  }

  &--chat {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;

    &.affix-top {
      @include animate (all);
      transform: translateY(100%);
    }

    &.affix-bottom {
      opacity: 0;
      visibility: hidden;
    }

    &.affix {
      @include animate (all);
      transform: translateY(0);
    }

    @include media ('>=tablet') {
      left: auto;
      right: 2.5rem;
      bottom: 2.5rem;
      border-radius: 0.3rem;
    }
  }
}
