&__body {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media ('>=desktop') {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section__heading + & {
    padding-top: 0;
  }

  &--padded {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section--fullscreen & {
    min-height: 100vh;
  }

  .section--md & {
    @include media ('>=desktop') {
      height: 80rem;
    }
  }

  .section--lg & {
    @include media ('>=desktop') {
      height: 100rem;
    }
  }

  .section--features & {

    @include media ('>=desktop') {
      padding-left: 6rem;
    }

    img {
      width: 100%;
    }
  }
}
