.mobile-menu {
  @include animate (opacity);
  @include fullContain(fixed);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(map-get($colors, white), 0.95);

  &.in {
    opacity: 1;
    visibility: visible;
  }

  .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    > li {
      &:after {
        display: none;
      }

      > a {
        &:active,
        &:focus {
          color: map-get($colors, primary);
        }
      }
    }
  }
}
